[submodule "3rdparty/abseil-cpp"]
	path = 3rdparty/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "3rdparty/CGraph"]
	path = 3rdparty/CGraph
	url = https://github.com/ChunelFeng/CGraph.git
[submodule "3rdparty/eigen"]
	path = 3rdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "3rdparty/benchmark"]
	path = 3rdparty/benchmark
	url = https://github.com/google/benchmark.git
[submodule "3rdparty/tmp"]
	path = 3rdparty/tmp
	url = https://github.com/zjhellofss/tmp.git
[submodule "3rdparty/Catch2"]
	path = 3rdparty/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "3rdparty/pybind11"]
	path = 3rdparty/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "3rdparty/highway"]
	path = 3rdparty/highway
	url = https://github.com/google/highway.git
